<%- include("partials/header") -%>
<div class="wrapper wrapper--w790">
    <div class="card card-5">
        <div class="card-heading">
            <h1 class="title">DREAM HOME </h1>
            <h2 class="title">comments</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                <div>
                    <div class="form-row m-b-55">
                        <div class="name">client no</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="client_no">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="form-row m-b-55">
                    <div class="name">property number</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="text" name="prop_no">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-row m-b-55">
                        <div class="name">view date</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="date" name="view_date">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-row m-b-55" id="position">
                        <div class="name">comments</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="comments">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>