<%- include("partials/header") -%>
<form action="/result/1" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>List the details of branches in a given city.</h2>
      <input type="text" name="city" placeholder="Enter the CITY name" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/2" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> Identify the total number of branches in each city.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/3" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the name, position, and salary of staff at a given branch, ordered by staff name.</h2>
      <input type="text" name="branch_no" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/4" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> Identify the total number of staff and the sum of their salaries.</h2>
      
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/5" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> Identify the total number of staff in each position at branches in Glasgow.</h2>
     
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/6" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the name of each Manager at each branch, ordered by branch address.</h2>
     
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/7" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the names of staff supervised by a named Supervisor.</h2>
      <input type="text" name="supervisor_id" placeholder="Enter the supervisor_id" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/8" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the property number, address, type, and rent of all properties in Glasgow, ordered by rental
        amount.</h2>
    
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/9" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the details of properties for rent managed by a named member of staff.</h2>
      <input type="text" name="fname" placeholder="Enter the staff first name" />
      <input type="text" name="lname" placeholder="Enter the staff last name" />


      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>


<form action="/result/10" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>Identify the total number of properties assigned to each member of staff at a given branch.</h2>
      <input type="text" name="branch" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/11" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>List the details of properties provided by business owners at a given branch.</h2>
      <input type="text" name="branchNo" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>
<form action="/result/12" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>Identify the total number of properties of each type at all branches.</h2>
      <!-- <input type="text" name="branch" placeholder="Enter the branch_no" /> -->
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>
<form action="/result/13" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>Identify the details of private property owners that provide more than one property for rent.</h2>
      <input type="text" name="branch" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>
<form action="/result/14" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>Identify flats with at least three rooms and with a monthly rent no higher than £500 in Aberdeen.</h2>
      <input type="text" name="branch" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>
<form action="/result/15" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>List the number, name, and telephone number of clients and their property preferences at a given
        branch.</h2>
      <input type="text" name="branch" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>






<form action="/result/17" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the details of leases due to expire next month at a given branch.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/18" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the total number of leases with rental periods that are less than one year at branches in
        London.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/19" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2>List the total possible daily rental for property at each branch, ordered by branch number.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/20" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List details of staff supervised by a named Supervisor at the branch.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/21" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List details of all Assistants alphabetically by name at the branch.</h2>
      <input type="text" name="branchNo" placeholder="Enter the branch_no" />
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/22" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the details of property (including the rental deposit) available for rent at the branch, along
        with the owner’s details.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/23" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the details of properties managed by a named member of staff at the branch.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>

<form action="/result/24" method="POST">
  <div class="card-container1">
    <div class="card1">
      <h2> List the clients registering at the branch and the names of the members of staff who registered
        the clients.</h2>
      <button type="submit">FetchResult</button>
    </div>
  </div>
</form>


<form action="/result/25" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2> Identify properties located in Glasgow with rents no higher than £450.</h2>
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
  
  <form action="/result/26" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2> Identify the name and telephone number of an owner of a given property.</h2>
        <input type="text" name="propertyNo" placeholder="Enter the property_no" />
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
  <form action="/result/27" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2> List the details of comments made by clients viewing a given property.</h2>
        <input type="text" name="propertyNo" placeholder="Enter the property_no" />
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
  <form action="/result/28" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2> Display the names and phone numbers of clients who have viewed a given property but not
            supplied comments.</h2>
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
  <form action="/result/29" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2> Display the names and phone numbers of clients who have viewed a given property but not
            supplied comments.</h2>
            <input type="text" name="propertyNo" placeholder="Enter the property_no" />
            <input type="text" name="clientNo" placeholder="Enter the client_no" />
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
  <form action="/result/30" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2> Identify the leases due to expire next month at the branch.</h2>
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
  <form action="/result/31" method="POST">
    <div class="card-container1">
      <div class="card1">
        <h2>List the total possible daily rental for property at each branch, ordered by branch number.</h2>
        <button type="submit">FetchResult</button>
      </div>
    </div>
  </form>
<%- include("partials/footer") -%>
