<%- include("partials/header") -%>
<div class="wrapper wrapper--w790">
    <div class="card card-5">
        <div class="card-heading">
            <h1 class="title">DREAM HOME </h1>
            <h2 class="title">lease form</h2>
        </div>
        <div class="card-body">
            <form method="POST" >
                
                


                <div class="form-row m-b-55">
                    <div class="name">client id</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="text" name="clientNo">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-row m-b-55" id="position">
                    <div class="name">property number</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="text" name="propertyNo">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="form-row m-b-55">
                        <div class="name">rent</div>
                        <div class="value">
                            <div class="row row-space">
                                <div+ class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="rent">

                                    </div>
                                </div>

                            </div>
                        </div>
                    
                    </div>
                

                

                <div>
                    <div class="form-row m-b-55">
                        <div class="name">Payment basis</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="paymentMethod">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row m-b-55">
                    <div class="name">Deposit paid?</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="text" name="deposit_paid">

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <div class="form-row m-b-55">
                    <div class="name">rent Start date</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="date" name="rentStartDt">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-row m-b-55">
                    <div class="name">rent end date</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="date" name="rentEndDt">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                


                <div>
                    <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>